.homebg {
  border-radius: 30px !important;
  /* height: 677px !important; */
  width: 97vw !important;
  margin: 40px 20px 20px 20px;
  /* object-fit: cover;
  margin: 0 auto;
  margin-left: 1%; */
}

.css-18v3f6a {
  border: 0 !important;
}

.css-1vcu4nh-MuiGrid-root {
  padding-top: 100px !important;
  padding-bottom: 62px !important;
}

.css-1qttxc2 {
  height: unset !important;
}

@media screen and (max-width:667px) {
  .homebg {
    display: none;
    width: unset !important;
    object-fit: contain;
    height: 500px !important;
  }

  .css-suj8vv {
    margin-top: 20px !important;
  }
}
.homebgThree{
  display: none;
}
@media screen and (max-width:667px) {
  .homebgThree {
    display: block;
    width:600px;
    /* object-fit: contain; */
    height: 550px !important;
  }

  .css-suj8vv {
    margin-top: 20px !important;
  }
}



.css-yjwis {
  z-index: unset !important;
}

#fname::placeholder {
  color: #22283f !important
}

#lname::placeholder {
  color: #22283f !important
}

#email::placeholder {
  color: #22283f !important
}

#message::placeholder {
  color: #22283f !important;
  width: 100%
}

#message {
  width: 300px !important;
  border-color: none!important;
}