@font-face {
  font-family: "felix-titling-regular";
  src: url("./fonts/Felixti.TTF") format("truetype");
}

#paddingResponsive {
  padding: "0px 80px" !important;
}

/* .css-twwm0c {
  padding: 0 !important;
} */
.css-1rqwpyb {
  width: 90% !important;
}

@media screen and (max-width:767px) {
  #paddingResponsive {
    padding: "0px 0px" !important;
  }
}

.css-wztqdw-MuiPaper-root-MuiCard-root {
  background-color: #22283f !important;
}

.css-jo7ai3 {
  background-color: unset !important;
}

.css-6h1u2o {
  height: unset !important;
}

.css-vuuwxc {
  width: unset !important;
}

.css-28xbig-MuiGrid-root {
  margin: unset !important;
}

.ppppppp {
  padding: 0 40px;
  padding-top: 200px;
  background-color: #22283f;
}

.mmmmmmmm {
  width: 65% !important;
  position: "absolute";
  top: 50%;
  right: 15%;
  transform: translate(-50%, -50%);
  z-index: 9;
}

.css-1wnsr1i {
  background-color: gray !important;
}

@media screen and (min-width: 1400px) {
  .MuiContainer-root {
    max-width: 100% !important;
  }
}

@media screen and (max-width: 667px) {
  .cross {
    font-size: 10px !important;
  }

  .home_text {
    font-size: 25px !important;
    line-height: 43px !important;

  }

  .ppppppp {
    padding: 0 0;
  }

  .mmmmmmmm {
    width: 100% !important;
    top: 49.5% !important;
    left: 50% !important;
  }

  .css-wztqdw-MuiPaper-root-MuiCard-root {
    margin: 0 !important;
  }
}

.css-xpkt69 {
  background-color: unset !important;
}

/*
.css-hgn5yn {
  background-color: #1a2335 !important;
} */

.css-1xw3iwd {
  margin-top: 0px !important;
  padding-top: 64px !important;
  background-color: red !important;
}

.css-1dur2uz-MuiPaper-root-MuiDialog-paper {
  max-width: 600px !important;
  width: 100%;
}

.css-1yo2nfl-MuiDialogContent-root {
  padding: 30px !important;
}

.ElementsApp {
  padding: 20px !important;
  border: 2px solid red !important;
  height: 50px !important;
}

.css-h3u91m {
  margin-left: 0 !important;
  margin-right: 0 !important;
  text-align: center !important;
}

.css-9lrh2m {
  padding-left: 10px !important;
  padding-right: 0px !important;
}

footer {
  background-color: black !important;
}

/* revison css */

.css-tcmus9-MuiPaper-root-MuiCard-root {
  background-color: unset !important;
  box-shadow: unset !important;
  margin-top: unset !important;
}

.css-1q1k6n-MuiInputBase-root-MuiInput-root input::placeholder {
  color: rgb(48, 48, 48) !important;
}

.css-1q1k6n-MuiInputBase-root-MuiInput-root input {
  color: #22283f !important;
}

.MuiFormControl-root.css-1nrlq1o-MuiFormControl-root {
  width: 100%;
}

.MuiFormControl-root.css-1nrlq1o-MuiFormControl-root textarea {
  border: none;
  outline: none !important;
  font-family: inherit;
  font-size: 14px;
  font-weight: 300;
}

.MuiFormControl-root.css-1nrlq1o-MuiFormControl-root textarea::placeholder {
  font: inherit;
}

.MuiFormControl-root.css-1nrlq1o-MuiFormControl-root textarea {
  border-bottom: 1px solid #ddd;
}

.css-fvv6qq-MuiFormControlLabel-root .MuiFormControlLabel-label {
  color: #ddd !important;
}

svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-17ceore-MuiSvgIcon-root {
  border: 1px solid #22283f;
}

.css-1b14d7z-MuiGrid-root {
  margin-top: unset !important;
}

.css-dg8ndu-MuiButtonBase-root-MuiButton-root {
  background-color: #A13BB6 !important;
}

.css-1jpt7oq-MuiButtonBase-root-MuiButton-root {
  background-color: #A13BB6 !important;
  color: #fff !important;
  line-height: unset !important;
  min-height: 1.4rem !important;
}

td.MuiTableCell-root.MuiTableCell-body.MuiTableCell-alignCenter.MuiTableCell-sizeMedium.css-12xa49n-MuiTableCell-root {
  text-align: start !important;
}

td.MuiTableCell-root.MuiTableCell-body.MuiTableCell-alignCenter.MuiTableCell-sizeMedium.css-fdjidb-MuiTableCell-root {
  text-align: start !important;
}

.MuiGrid-root.MuiGrid-grid-md-6.css-1gidecq-MuiGrid-root {
  padding-left: 75px;
}

.css-1xzqqmo-MuiGrid-root {
  padding: 0 !important;
}

@media(max-width: 550px) {
  .css-1rqwpyb {
    width: 100% !important;
  }

  .MuiGrid-root.MuiGrid-grid-md-6.css-1gidecq-MuiGrid-root {
    padding-left: 0px;
  }

  .css-1602fiz-MuiPaper-root-MuiCard-root {
    margin-top: -30px !important;
  }

  .css-10fw84t {
    max-width: 120px;
  }

  .css-1iu09ww {
    padding: 10px !important;
  }

  .css-1yyhlhe {
    padding: 0 !important;
  }

  .css-exfl4s-MuiGrid-root>.MuiGrid-item {
    padding: 0 !important;
  }

  .css-1id64jh {
    margin-top: 16px !important;
  }

  .css-ne2rd {
    margin-top: 16px !important;
  }

  .css-bq11r7 {
    padding: 18px !important;
  }


  .css-1uci8p7-MuiTypography-root,
  .css-1f4od06-MuiTypography-root {
    font-size: 12px !important;
  }

  .css-15ti2lr-MuiTypography-root,
  .css-lgoxd2-MuiTypography-root {
    font-size: 10px !important;
  }
}

.css-1ggm64l{
  width: 90% !important;
}

.css-twwm0c{
  padding-top: 166px !important;
}

@media(max-width:550px) {
  .css-twwm0c {
    padding: 200px 0 0;
  }

  .css-xw63fn {
    padding-top: 310px !important;
  }

  .css-e3rwa0 {
    padding-top: 300px !important;
  }

  .css-1r7reyp-MuiPaper-root-MuiCard-root {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .css-1vcu4nh-MuiGrid-root>.MuiGrid-item {
    padding-top: 180px !important;
  }

  .css-nkchhw {
    padding: 0 !important;
  }

  .css-1hhr4zu {
    padding: 0 !important;
  }

  /* .css-11b450n {
    padding: 0 !important;
  } */

  .css-uob07-MuiGrid-root {
    padding-right: 0 !important;
  }

}

.unknowncss {
  text-align: center;
}

/* revision css /-end */

.css-1dlgr83-MuiFormLabel-root-MuiInputLabel-root {
  color: #000000 !important;
}

#standard-basic-label {
  color: gray !important;
}

.css-1q1k6n-MuiInputBase-root-MuiInput-root:after,
.css-16ugujf-MuiInputBase-root-MuiInput-root:after,
.css-3mxn9g-MuiInputBase-root-MuiInput-root:after,
.css-9bjbn6::after,
.css-n00w46::after {
  border-color: #A13BB6 !important;
}

.MuiFormControl-root.css-1nrlq1o-MuiFormControl-root textarea {
  border-bottom: 0 !important;
}

.css-3mxn9g-MuiInputBase-root-MuiInput-root {
  width: 100% !important;
}

.css-vdakgy .MuiFormControlLabel-label {
  color: #ddd !important;
}

.css-1bqwuzc .MuiSvgIcon-root {
  border: 0.0625rem solid rgb(26 26 26 / 40%) !important;
}

.MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-colorSecondary.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-multiline.css-ir432g {
  width: 380px !important;
}

@media(max-width: 468px) {
  .MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-colorSecondary.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-multiline.css-ir432g {
    width: 250px !important;
  }
}

.css-9bjbn6 input {
  color: #000 !important;
}

/* .css-ir432g::before {
  border-color: #a13bb6 !important;
} */

.css-ir432g::after {
  border-color: #a13bb6 !important;
}

.css-1x5xr51 {
  background-color: #a13bb6 !important;
  ;
}

.css-17b4eun {
  border-radius: 10px;
}

.css-l20l52 {
  border-radius: 20px !important;
}

.css-1v3hexh {
  border: none !important;
}

.swal2-popup.swal2-modal.swal2-show {
  z-index: 999 !important;
}

.swal2-container.swal2-center.swal2-backdrop-show {
  z-index: 99999;
}

.css-1clepfi-MuiTypography-root {
  font-family: 'EB Garamond', serif !important;
}

.css-mr5mm8-MuiTypography-root {
  font-family: 'EB Garamond', serif !important;
}

.css-q25wk7-MuiTypography-root {
  font-family: 'EB Garamond', serif !important;
  color: white !important;
}

.css-1349kmb-MuiTypography-root {
  font-family: 'EB Garamond', serif !important;
  color: white !important;
}

.css-s68t5q {
  background-color: rgb(161, 59, 182) !important;
}

.css-1i2rerj-MuiButtonBase-root-MuiButton-root {
  font-weight: 400 !important;
}

.css-192bpsw-MuiButtonBase-root-MuiButton-root {
  font-weight: 400 !important;
}

.css-1f4od06-MuiTypography-root {
  text-align: right !important;
}

.css-1neevca-MuiIcon-root {
  color: #8e6c1f !important;
}

h5.MuiTypography-root.MuiTypography-h5.css-xmfo17 {
  text-align: right !important;
}

h1.MuiTypography-root.MuiTypography-h1.css-acx4kb {
  font-family: 'EB Garamond', serif !important;
  color: white !important;
}

h3.MuiTypography-root.MuiTypography-h3.css-19064t5 {
  font-family: 'EB Garamond', serif !important;
  color: white !important;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.css-s68t5q {
  color: white !important;
}

span.material-icons-round.notranslate.MuiIcon-root.MuiIcon-fontSizeInherit.css-6m0tds {
  color: #a7770c !important;
}

.css-1burjyh {
  background-color: unset !important;
  box-shadow: unset !important;
}

/* .css-5cgavb {
  padding: 15px !important;
} */

/* .css-u65kbm {
  text-align: right !important;
} */

/* .css-sa3w6d {
  padding: 20px !important;
} */

.css-1avclyg-MuiTypography-root {
  color: #FFF !important;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeSmall.MuiButton-containedSizeSmall.css-1663t47-MuiButtonBase-root-MuiButton-root {
  color: #FFF !important;
}


button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeSmall.MuiButton-containedSizeSmall.css-15r4lj3-MuiButtonBase-root-MuiButton-root {
  color: #fff !important;
}


/* @media(min-width: 992px) {
  .css-11b450n {
    height: 125px !important;
  }
} */

@media(max-width: 578px) {
  .MuiBox-root.css-hgn5yn {
    margin-left: 4px !important;
  }
}

@media(max-width: 578px) {
  .css-1u2wc6v {
    padding-left: 35px !important;
    padding-bottom: 100px !important;
  }
}

.css-1991oeq {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

@media(max-width: 550px) {
  .css-nzxbvp {
    width: 85% !important;
  }

  .css-1mo8qo7 {
    padding: 35px 0 !important;
  }
}

.css-x4ry9f {
  height: 0px !important;
}

.css-7uzf97{
  background-color: transparent !important;
  box-shadow: none !important;
}